# Your openai api key. (required)
OPENAI_API_KEY=sk-xxxx

# Access password, separated by comma. (optional)
CODE=your-password

# You can start service behind a proxy. (optional)
PROXY_URL=http://localhost:7890

# (optional)
# Default: Empty
# Google Gemini Pro API key, set if you want to use Google Gemini Pro API.
GOOGLE_API_KEY=

# (optional)
# Default: https://generativelanguage.googleapis.com/
# Google Gemini Pro API url without pathname, set if you want to customize Google Gemini Pro API url.
GOOGLE_URL=

# Override openai api request base url. (optional)
# Default: https://api.openai.com
# Examples: http://your-openai-proxy.com
BASE_URL=

# Specify OpenAI organization ID.(optional)
# Default: Empty
OPENAI_ORG_ID=

# (optional)
# Default: Empty
# If you do not want users to use GPT-4, set this value to 1.
DISABLE_GPT4=

# (optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
HIDE_USER_API_KEY=

# (optional)
# Default: Empty
# If you do want users to query balance, set this value to 1.
ENABLE_BALANCE_QUERY=

# (optional)
# Default: Empty
# If you want to disable parse settings from url, set this value to 1.
DISABLE_FAST_LINK=

# (optional)
# Default: Empty
# To control custom models, use + to add a custom model, use - to hide a model, use name=displayName to customize model name, separated by comma.
CUSTOM_MODELS=-all,+Doubao-lite-128k@OpenAI=字节跳动豆包,+Doubao-pro-128k@OpenAI=字节跳动豆包专业版,+ERNIE-Bot@OpenAI=百度ERNIE-Bot,+ERNIE-Bot-4@OpenAI=百度ERNIE-Bot 4,+ERNIE-Bot-turbo@OpenAI=百度ERNIE-Bot Turbo,+Embedding-V1@OpenAI=OpenAI文本嵌入,+SparkDesk-v4.0@OpenAI=讯飞星火认知大模型,+chatglm_lite@OpenAI=轻量级对话生成模型,+chatglm_pro@OpenAI=专业级对话生成模型,+chatglm_std@OpenAI=标准级对话生成模型,+deepseek-chat@OpenAI=深度搜索聊天,+deepseek-coder@OpenAI=深度搜索编码,+gpt-3.5-turbo=GPT-3.5 Turbo,+gpt-4o=GPT-4优化版,+gpt-4o-mini=GPT-4o轻量版,+dall-e-3@OpenAI=DALL-E 3图像生成,+o1-mini@OpenAI=小型问答模型,+o1-preview@OpenAI=问答模型预览版,+4.0Ultra@OpenAI=超级对话模型,+moonshot-v1-128k@OpenAI=月之暗面科技对话模型128k,+moonshot-v1-32k@OpenAI=月之暗面科技对话模型32k,+moonshot-v1-8k@OpenAI=月之暗面科技对话模型8k,+qwen-max@OpenAI=全量问答模型,+qwen-max-longcontext@OpenAI=全量问答长上下文,+qwen-plus@OpenAI=增强问答模型,+qwen-turbo@OpenAI=问答模型Turbo,+text-embedding-v1@OpenAI=文本嵌入模型

# (optional)
# Default: Empty
# Change default model
DEFAULT_MODEL=gpt-4o

# anthropic claude Api Key.(optional)
ANTHROPIC_API_KEY=

### anthropic claude Api version. (optional)
ANTHROPIC_API_VERSION=

### anthropic claude Api url (optional)
ANTHROPIC_URL=

### (optional)
WHITE_WEBDAV_ENDPOINTS=
